/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star-rating {
    font-size: 2rem;
    cursor: pointer;
}

.star-rating .star {
    color: #ccc;          /* default gray */
    transition: color 0.2s;
}

.star-rating .star.hovered,
.star-rating .star.selected {
    color: gold;
}


/* Navbar */


/* Footer */


footer p {
    font-size: 14px;
}




html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;  /* Pushes footer to the bottom */
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}